{layout name="buy_carlayout" /}
<script type="text/javascript" src="/front/js/jquery-1.8.2.min.js"></script>
<script>
function clearnick(id){
    
     $.get("/index/goods_car/delete_goods",{id:id},function(data){
                    if(data==1){
                       window.location.reload()//刷新当前页面
                       alert('删除成功') 
                        
                    }else{
                        alert('删除失败');
                    }
                });
    
}

    
</script>
<!--End Menu End--> 
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="/front/images/img1.jpg" />        
    </div>
    
    <!--Begin 第一步：查看购物车 Begin -->
    <div class="content mar_20">
        <input type="hidden" name='' value=""/> 
    	<table border="0" class="car_tab" style="width:1200px; margin-bottom:50px;" cellspacing="0" cellpadding="0">
          <tr>
            <td class="car_th" width="490">商品名称</td>
            <td class="car_th" width="140">属性</td>
            <td class="car_th" width="150">购买数量</td>
            <td class="car_th" width="130">小计</td>
<!--            <td class="car_th" width="140">返还积分</td>-->
            <td class="car_th" width="150">操作</td>
          </tr>
          {foreach $key as $k=>$v}
          <tr>
            <td>
            	<div class="c_s_img"><img src="{$v.goods_img}" width="73" height="73" /></div>
                {$v.goods_name}
            </td>
            <td align="center">颜色：灰色</td>
            <td align="center">
            	<div class="c_num">
                    <input type="button" value="" onclick="jianUpdate1(jq(this));" class="car_btn_1" />
                	<input type="text" value="{$v.goods_num}" name="" class="car_ipt" />  
                    <input type="button" value="" onclick="addUpdate1(jq(this));" class="car_btn_2" />
                </div>
            </td>
            <td align="center" style="color:#ff4e00;" >{$v.goods_price * $v.goods_num}</td>
            <td align="center"><a onclick="clearnick('{$v.goods_id}')">删除</a>&nbsp; &nbsp;<a href="#">加入收藏</a></td>
          </tr>
          {/foreach}

          <tr height="70">
            <td colspan="6" style="font-family:'Microsoft YaHei'; border-bottom:0;">
            	<label class="r_rad"><input type="checkbox" name="clear" checked="checked" /></label><label class="r_txt">清空购物车</label>
                
                <span class="fr">总价：<b style="font-size:22px; color:#ff4e00;">{$zj}</b></span>
                
            </td>
          </tr>
          
          <tr valign="top" height="150">
          	<td colspan="6" align="right">
            	<a href="/index/index/index"><img src="/front/images/buy1.gif" /></a>&nbsp; &nbsp; <a href="/index/account/confirm_settle"><img src="/front/images/buy2.gif" /></a>
            </td>
          </tr>
        </table>
        
    </div>
	<!--End 第一步：查看购物车 End--> 
    
    
    <!--Begin 弹出层-删除商品 Begin-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">             
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv('MyDiv','fade')"><img src="/front/images/close.gif" /></span>
            </div>
            <div class="notice_c">
           		
                <table border="0" align="center" style="font-size:16px;" cellspacing="0" cellpadding="0">
                  <tr valign="top">
                    <td>您确定要把该商品移除购物车吗？</td>
                  </tr>
                  <tr height="50" valign="bottom">
                    <td><a href="#" class="b_sure">确定</a><a href="#" class="b_buy">取消</a></td>
                  </tr>
                </table>
                    
            </div>
        </div>
    </div>    

</div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
