
 <script type="text/javascript" src="/front/js/sjld.js"></script>   

<!doctype html>
<html style="background-color: #ddd;" class="ui-mobile">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>三级联动</title> 
  <title>中国地区三级联动下拉菜单</title>
  <script type="text/javascript" src="area.js"></script>
</head>
<body>
  所在地：
  <select id="province" runat="server" name="province">
  </select>
  <select id="city" runat="server" name="city">
  </select>
  <select id="county" runat="server" name="city">
  </select>
  <!--js初始化函数-->
  <script type="text/javascript">
    setup()
  </script>
</body>
</html>