{layout name="buy_carlayout" /}
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="/front/images/img3.jpg" />        
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
    	
        <!--Begin 银行卡支付 Begin -->
    	<div class="warning">        	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td style="font-size:18px;">

                	感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font color="#ff4e00">{$order_sn}</font>

                </td>
              </tr>
              <tr>
                <td style="font-size:14px; font-family:'宋体'; padding:10px 0 20px 0; border-bottom:1px solid #b6b6b6;">
                	您选定的配送方式为: <font color="#ff4e00">申通快递</font>； &nbsp; &nbsp;您选定的支付方式为: <font color="#ff4e00">货到付款</font>；
                        &nbsp; &nbsp;付款金额: <font color="#ff4e00">{$total_price}</font>
                </td>
              </tr>

              <tr>
                <td>

                	<a href="/index/index/index">首页</a> &nbsp; &nbsp; <a href="/index/Personalcenter/my_order">用户中心</a>

                </td>
              </tr>
            </table>        	
        </div>

        
    </div>

    
</body>


</html>
