{layout name="buy_carlayout" /}
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="/front/images/img3.jpg" />        
    </div>
    
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
 

    	<div class="warning">        	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                	<p style="font-size:22px;">提示 !</p>
                    <b style="color:#ff4e00; font-size:16px; font-family:'宋体';">订单商品为空，请添加</b>
                	<div class="backs"><a href="/index/account/confirm_settle">返回上一页</a></div>
                </td>
              </tr>
            </table>        	
        </div>

        
    </div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
